@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.product_descr_page h1 {
    color: #177165;
    font-family: 'Playfair Display';
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 72px;
}

.product_descr_page {
    margin: 53px auto;
}
