.categories_card {
    padding: 20px;
    color: rgb(27, 27, 27);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 350px;
    position: relative;
    font-size: 20px;
    border-radius: 30px;
   
   
    
}

.categories_card img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.categories_card:hover{
    border: 1px solid rgb(6, 56, 6);
    
   
}